{% extends 'base.html.twig' %}
{% block styles %}
    {% styles
    '@AUTH/css/styles.css'
    %}{% styles %}
{% endblock styles %}
{% block body_header %}
    <div class='page-header'>
        <h1>PSFS AUTH User check</h1>
    </div>
{% endblock body_header %}
{% block body_content %}
    {% if user %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
                <img class="img-responsive img-thumbnail" src="{{ user.photo }}" alt="{{ user.name }}">
                <div class="caption">
                    <h3>{{ user.name }}</h3>
                    <p><i class="fa fa-user"></i>&nbsp;{{ user.id }}</p>
                    <p><i class="fa fa-envelope-o"></i>&nbsp;{{ user.email }}</p>
                    <p>
                        <a class="btn btn-danger" href="{{ path('logout') }}">{{ "Logout"|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <pre>{{ user|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        </div>
    </div>
    {% else %}
    <div class="row">
        {% for provider in providers %}
        {% set auth_path = 'auth-' ~ provider.Name %}
        <a class="btn btn-primary col-xs-12 col-sm-2{% if loop.index > 1 %} col-sm-offset-1{% endif %}" href="{{ path(auth_path|lower) }}">{{ provider.Name }}</a>
        {% endfor %}
    </div>
    <br>
    <div class="row">
        <p class="well alert-danger col-xs-12">{{ "No existe ningún usuario en sesión"|trans }}</p>
    </div>
    {% endif %}
{% endblock body_content %}
{% block scripts %}
    {% scripts
    '@AUTH/js/app.js'
    %}{% endscript %}
{% endblock scripts %}

