{% extends 'base.html.twig' %}
{% block styles %}
    {% styles
    '@AUTH/css/styles.css'
    %}{% styles %}
{% endblock styles %}
{% block body_header %}
    <div class='page-header'>
        <h1>PSFS AUTH User check</h1>
    </div>
{% endblock body_header %}
{% block body_content %}
    {% if user %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
                <img src="{{ user.photo }}" alt="{{ user.name }}">
                <div class="caption">
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.id }}</p>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <pre>{{ user|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        </div>
    </div>
    {% else %}
    <p class="alert-danger">{{ "No existe ningún usuario en sesión"|trans }}</p>
    {% endif %}
{% endblock body_content %}
{% block scripts %}
    {% scripts
    '@AUTH/js/app.js'
    %}{% endscript %}
{% endblock scripts %}

